body {
  text-align: center;
}

h3 {
  font-size: 4em;
  font-family: 'arial', serif;
  font-family: 'Kaushan Script', cursive;
  background-color: #9effeb;
  //margin-left:%;
  //margin-right:%;
}



nav a {
  font-family: 'Kaushan Script', cursive;
}



h3, h4 {
  color: 110, 119, 117;
}


img {
  padding: 20px 20px 20px 20px;
  border: 1px red;
}

ol li{
  list-style-type: none;


}


.pic{
  width: 30%
}
